.row{ "data-equalizer" => "" }
  .small-5.medium-4.large-3.columns.administrator-side-bar.panel{ "data-equalizer-watch" => "" }

    %h1 SideBar

  .small-7.medium-8.large-9.columns.panel{ "data-equalizer-watch" => "" }

    %h1 Edit Lesson
    = render "form"
    = link_to "Delete lesson", admin_course_lesson_path(@course, @lesson), id: "delete_button", data: { confirm: "Are you sure?" }, method: :delete
