.row{"data-equalizer" => ""}
  .small-5.medium-4.large-3.columns.administrator_side_bar.panel{"data-equalizer-watch" => ""}
    %h1 SideBar
  .small-7.medium-8.large-9.columns.panel{"data-equalizer-watch" => ""}
    %h1 New Quizz
    = render "form"
