%h1
  = @user.first_name + " " + @user.last_name

%p Ideas for this page: all the courses attended, progression? ended?, badges, avatar

- if  @user.courses.length != 0
  %h1 Course
  %ul
    - @user.courses.each do |course|
      %li= link_to course.title, course_path(course)
