/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 html,
 body {
 	margin:0;
 	padding:0;
 	height:100%;
 }
 #wrapper {
 	min-height:100%;
 // 	position:relative;
 }
 #header {
 	background:#ededed;
 	padding:10px;
 }
 #content {
 // 	padding-bottom:100px; /* Height of the footer element */
 }
 #footer {
 	background:#ffab62;
 	width:100%;
  height: auto;
  padding-bottom: 1rem;
 	position:relative;
 	bottom:0;
 	left:0;
 }

/*COURSES INDEX*/
 /** Controls **/
 .controls {
   padding:0.5em 0.25em 0.5em 1em;
   margin: 1%;
   -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
   -goog-ms-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
   box-shadow: 0 0 20px rgba(0, 0, 0, .2);
   -moz-border-radius: 0;
 }

 .filter, .controlslayout label{
   background:#33cccc;
 }

 button, .button {
   margin-bottom:0.5em;
   outline:none;
 }

 .controls button.active, .controlslayout input[type="radio"]:checked + label{
   background: #007295;
 }

 #controlslayout input[type="radio"]{
   visibility:hidden;
   height: 0;
   width: 0;
 }

 #controlslayout input[type="radio"]+label {
   margin:0;
 }

 .controlslayout {
   display:block;
 }

 #controlslayout .fa {
   font-size:1.5em;
   color:#ffffff;
 }


 /** Container **/
#Container {
   padding: 100px;
   -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
   -goog-ms-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
   box-shadow: 0 0 20px rgba(0, 0, 0, .2);
   -moz-border-radius: 0;
   list-style-type: none;

}

/* Developer Avatar */
#DevAvatar img{
  border-radius: 1000px;
  border: 2px solid #73AD21;
  width: 100%;
  height: auto;
}

/* Developer Name */
#DevName {}
/* Developer Bio */
#DevBio {}

/* Lesson show page */
#lesson_content {
  margin: 0;
}
.content {
  background-color: #a3a3a3;
  height: 100%;
  padding-bottom: 10%;
  li {
    color: #e5e5e5;
    font-size: 80%;
    a {
      font-style: normal;
      color: #e5e5e5;
    }
  }
}
