%h1 New Course
%form{ action: admin_courses_path, method: :post }
  %input{ type: "hidden", name: "authenticity_token", value: form_authenticity_token }

  %label Title
  = text_field_tag :title

  %label Description
  = text_area_tag :description

  %label Duration
  = number_field_tag :duration


  %label Price
  = number_field_tag :price

  %button{ type: "submit" } Submit
